// -----全体デザイン-----
body {
  color: black;
}
@media (min-width: 768px){
.container, section, header, footer {
    min-width: 1200px;
}}
@media (min-width: 768px){
  // pc共通
  .sp {
    display: none;
  }
  .section {
    padding: 40px 0;
  }
}
@media (max-width: 768px){
  // sp共通
  .pc {
    display: none;
  }
  .section {
    padding: 20px 0;
  }
  .row {
    padding-top: 0;
    padding-bottom: 0;
  }
}

header#header-wrap {
  background-color: black;
  a.navbar-brand {
    padding-top: 12px;
    width: 240px;
    @media (max-width: 768px){
      width: 160px;
    }
    img {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  nav.navbar.navbar-light {
    button.navbar-toggler {
      background: none;
      font-size: 36px;
      margin-top: 8px;
    }
    ul.nav-inline {
      margin-top: 0px;
    }
  }
  #main-menu {
    ul.nav {
      font-size: 0;
      li.nav-item {
        a.nav-link {
          color: white;
          font-size: 14px;
          padding: 50px 8px 20px 8px;
          @media (max-width: 768px){
            font-size: 14px;
            padding: 10px 10px 10px 18px;
          }
        }
        img {
          width: 28px;
          margin: 0px 4px 16px 4px;
        }
      }
      li.nav-item.img, li.nav-item.last {
        @media (max-width: 768px){
          display: none;
        }
      }
      li.nav-item.img {
        a {
          padding: 0;
        }
      }
      li.nav-item.last {
        background-color: #D6D380;
        height: 88px;
        width: 100px;
        position: relative;
        z-index: 1;
        div.login-text {
          @login-text-font-size: 8px;
          font-size: @login-text-font-size;
          width: @login-text-font-size * 9;
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          color: #333;
        }
        img {
          display: block;
          width: 32px;
          margin-top: 8px;
          margin-bottom: 0px;
          margin-right: auto;
          margin-left: auto;
        }
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-indent:-999px;
          z-index: 2;
        }
      }
    }
  }
}

footer {
  p.copyright-text, ul.nav {
    text-align: center;
  }
  @media (max-width: 480px) and (min-width: 320px){
  .copyright-text {
      float: none!important;
    }
  }
  p.copyright-text, ul.nav .nav-link {
    color: white;
  }
}
section.main-image {
  background-size: cover;
  padding: 120px 0;
  @media (max-width: 768px){
    padding: 60px 0;
  }
  div.title-box {
    width: 60%;
    background-color: white;
    opacity: 0.8;
    padding: 20px 0px;
    @media (max-width: 768px){
      padding: 12px 0px;
    }
    h1.title {
      font-size: 28px;
      @media (max-width: 768px){
        font-size: 20px;
      }
      margin-left: 20%;
      margin-bottom: 0px;
    }
    p {
      margin-left: 20%;
      margin-bottom: 0px;
      font-size: 18px;
      @media (max-width: 768px){
        font-size: 10px;
      }
    }
  }
}
section.band-image {
  background-image: url("../img/title_background_watercolor_pattern01.jpg");
  padding: 20px 0;
  @media (max-width: 768px){
    padding: 16px 0;
  }
  h1.title, div.sub-title {
    text-align: center;
    color: #333;
  }
  h1.title {
    font-size: 28px;
    @media (max-width: 768px){
      font-size: 22px;
    }
  }
  div.sub-title {
    @media (max-width: 768px){
      font-size: 12px;
    }
  }
  .row {
    @media (max-width: 480px) and (min-width: 320px){
      padding: 0px 0px 0px;
    }
  }
}

// -----トップページ-----
section.main-image.top {
  background-image: url("../img/top_header_image_nontext.jpg");
  .title{
    position: relative;
    img {
      position: absolute;
      width: 200px;
      top: -35px;
      left: 180px;
      @media (max-width: 768px){
        width: 100px;
        top: -10px;
        left: 120px;
      }
    }
  }
}
section.top {
  .container.search {
    .select-input-col, .checkbox-col {
      @media (min-width: 768px){
        padding-right: 0;
        padding-left: 0;
      }
      @media (max-width: 768px){
        padding-right: 0;
      }
    }
    select.job-type-select, select.employment-type-select {
      display: inline-block;
      width: 47%;
      @media (max-width: 768px){
        width: 46%;
      }
      margin-bottom: 8px;
      height: 36px;
      font-size: 14px;
    }
    .cross-text {
      width: 4%;
      text-align: center;
      display: inline-block;
    }
    .search-text {
      padding: 5px 10px;
      font-size: 14px;
    }
    .search-btn {
      width: 160px;
      height: 80px;
      border-radius: 5px;
      background-color: #00ACC3;
      font-size: 20px;
      i {
        transform: scale(-1, 1);
        margin-right: 5px;
      }
      @media (max-width: 768px){
        width: 100%;
        height: 78px;
        padding: 6px 6px;
        font-size: 16px;
      }
    }
    input[type=checkbox] {
      margin-right: 3px;
    }
    .checkbox-label {
      margin: 4px 8px 0px 0px;
    }
    .deatil-link-btn {
      display: block;
      background-color: black;
      color: white;
      width: 160px;
      margin: 16px auto 0px auto;
      padding: 4px 0px;
      text-align: center;
      border-radius: 5px;
    }
  }
  .container.wanted {
    .emeraldgreen {
      h2 {
        background-color: #00ACC3;
      }
      h4 {
        color: #00ACC3;
      }
      a.detail-btn {
        background-color: #00ACC3;
      }
    }
    .purple {
      h2 {
        background-color: #BB92E2;
      }
      h4 {
        color: #BB92E2;
      }
      a.detail-btn {
        background-color: #BB92E2;
      }
    }
    .row {
      margin: 60px 0px 60px 0px;
      @media (max-width: 768px){
        margin: 30px 0px 30px 0px;
      }
    }
    .left-image {
      width: 100%;
    }
    h2.left-image-under-text {
      text-align: center;
      padding: 10px 20px;
      @media (max-width: 768px){
        padding: 5px 10px;
      }
      color: white;
      .alphabet-text {
        font-size: 24px;
        @media (max-width: 768px){
          font-size: 18px;
        }
      }
      .kana-text {
        font-size: 16px;
        @media (max-width: 768px){
          font-size: 12px;
        }
      }
    }
    h3, h4 {
      font-size: 16px;
      @media (max-width: 768px){
        font-size: 14px;
      }
    }
    h3 {
      line-height: 1.8;
      text-decoration: underline;
      margin-bottom: 0px;
    }
    h4 {
      margin-top: 20px;
    }
    ol {
      margin-bottom: 8px;
      padding-left: 20px;
    }
    a.detail-btn {
      display: block;
      width: 220px;
      text-align: center;
      padding: 8px 16px;
      margin-right: auto;
      margin-left: auto;
      color: white;
      border-radius: 5px;
      @media (max-width: 768px){
        padding: 6px 12px;
        font-size: 14px;
      }
    }
    a.contact-btn {
      display: block;
      width: 100%;
      text-align: center;
      color: white;
      background-color: #C4C763;
      border-radius: 5px;
      font-size: 20px;
      padding: 20px 0px;
      @media (max-width: 768px){
        font-size: 14px;
        padding: 12px 0px;
      }
    }
  }
}

// -----リクルートページ-----
section.main-image.entry {
  background-image: url("../img/entry_header_image.jpg");
}
section.recruit {
  table.form-table {
    width: 900px;
    @media (max-width: 768px){
      width: 100%;
    }
    margin-right: auto;
    margin-left: auto;
    th, td {
      border: silver solid 1px;
      color: #333;
    }
    th {
      background-color: #F0F0F0;
      width: 250px;
      padding-left: 15px;
      @media (max-width: 768px){
        width: 20%;
        padding-left: 5px;
        font-size: 12px;
      }
      span.must-text {
        color: #F13781;
      }
    }
    td {
      position: relative;
      padding: 20px 25px 20px 25px;
      width: 650px;
      @media (max-width: 768px){
        width: 80%;
        padding: 15px 15px 15px 15px;
      }
      input.must-input {
        background-color: #FFE8FA;
      }
      select.must-select {
        background-color: #FFE8FA;
      }
      input {
        display: block;
        width: 100%;
        border-radius: 8px;
        border: silver solid 1px;
        padding: 6px 0px 6px 10px;
        @media (max-width: 768px){
          padding: 4px 0px 4px 8px;
        }
        outline: none;
      }
      select {
        height: 36px;
        width: 100%;
      }
      label {
        position: absolute;
        bottom: 7px;
        font-size: 10px;
        line-height: 10px;
        left: 25px;
        margin: 0px;
        @media (max-width: 768px){
          bottom: 3px;
          font-size: 10px;
          line-height: 10px;
        }
      }
      textarea {
        width: 100%;
        outline: none;
        border-radius: 12px;
        border: silver solid 1px;
        padding: 6px 10px;
      }
    }
  }
  .detail-btn-box {
    text-align: center;
    button {
      margin-top: 20px;
      background-color: #00ACC3;
      border-radius: 5px;
    }
    p {
      margin-top: 10px;
      a {
          color: #333;
          text-decoration: underline;
      }
    }
  }
}
